/* code here */

/* font family */
@font-face {
  font-family: 'Inter';
  src: url(../assets/font/Inter_24pt-Black.ttf);
}

/* === GLOBAL RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';

  /* garis untuk ngecek */
  /* outline: 3px solid red; */
}

body {
  background-color: black;
  overflow-x: hidden;
}

/* 1. header */
/* Style navbar */
.navbar {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
  padding: 0px 140px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40px);
}

/* Style logo */
.frame {
  display: flex;
  width: 160px;
  gap: 8px;
  justify-content: center;
}
.tech {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #fdfdfd;
}

/* Style nav links */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 30px; /* Jarak antar item */
}

.nav-links a {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 200;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 24px;
  letter-spacing: 0em;
}

/* Style tombol Contact Us */
.contact-us {
  border: none;
  width: 160px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  /* margin-bottom: 16px; */
  letter-spacing: -0.03em;
  padding: 8px;
  background-color: #421abc;
  color: #ffffff; /* Warna teks putih */
  border-radius: 9999px;
  cursor: pointer;
}
.hamburger {
  display: none;
}

/* 2. hero section */
.Hero {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  height: 750px;
  padding: 0px 140px;
  gap: 18px;
  background: linear-gradient(to bottom, #000000, #210a5e4d);
}

.hero-text {
  display: flex;
  flex-direction: column;
  margin-top: 23%;
}

.hero-text h1 {
  font-weight: 700;
  color: white;
  font-size: 56px;
  line-height: 68px;
}
.hero-text h1 span {
  font-style: italic;
}
.hero-text p {
  width: 687px;
  height: 102px;
  color: #717680;
  margin: 20px 0;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
  letter-spacing: 0em;
}
.talk {
  border: none;
  width: 300px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  padding: 8px;
  gap: 4px;
  background-color: #421abc;
  color: #ffffff; /* Warna teks putih */
  border-radius: 9999px;
  cursor: pointer;
}
.pict {
  position: absolute;
  left: 50%;
  margin-top: 15px;
}

/* 3. Who we are section */
.who {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 140px;
  gap: 32px;
}

.who-text h1 {
  /* justify-content: center; */
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 16px;
  color: #ffffff;
}
.who-text p {
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 32px;
  letter-spacing: -0.02em;
  color: #717680;
}
.who-text p span {
  color: #ffffff;
}

/* 4. What we do section */
.what {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 140px;
  gap: 64px;
}
.what-text h1 {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  color: #fdfdfd;
}
.what-text p {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 18px;
  letter-spacing: -0.03em;
  color: #717680;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #181d27;
  border-radius: 12px;
  padding: 24px;
  gap: 20px;
  text-align: center;
}
.card h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
  letter-spacing: -0.03em;
  color: #fdfdfd;
}
.card p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  color: #717680;
}
/* 5. Our work section */
.our-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 140px;
  gap: 64px;
}
.our-work-text h1 {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  color: #fdfdfd;
}
.our-work-text p {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 18px;
  letter-spacing: -0.03em;
  color: #717680;
}
.Portfolio-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* 6. Meet the Team Section */
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 140px;
  gap: 64px;
}
.team-text h1 {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  color: #fdfdfd;
}
.team-text p {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 18px;
  letter-spacing: -0.03em;
  color: #717680;
}

.member-container {
  display: flex;
  justify-content: center;
  gap: 56px;
}
/* 7. Let’s Collaborate Section */
.Collaborate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 140px;
  gap: 64px;
}
.Collaborate-text h1 {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  color: #fdfdfd;
}
.Collaborate-text p {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 18px;
  letter-spacing: -0.03em;
  color: #717680;
}

/* form */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 592px;
}
.contact-form label {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  /* margin-bottom: 14px; */
  color: #fdfdfd;
}
.contact-form input,
.contact-form textarea {
  background: #000000;
  border: 1px solid #252b37;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 25px;
  outline: none;
  color: #fdfdfd;
  font-weight: 100;
  font-size: 14px;
}
.contact-form textarea {
  resize: vertical;
  min-height: 134px;
}
input::placeholder,
textarea::placeholder {
  color: #717680;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.03em;
}

.Send-btn {
  border: none;
  width: auto;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  /* margin-bottom: 16px; */
  letter-spacing: -0.03em;
  padding: 8px;
  gap: 4px;
  background-color: #421abc;
  color: #ffffff; /* Warna teks putih */
  border-radius: 9999px;
  cursor: pointer;
}

/* 8. footer */
footer {
  border-top: 1px solid #181d27;
  padding: 24px 8px;
  max-width: 1440px;
  margin: 0 auto;
  gap: 8px;
}
footer p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  color: #717680;
}

@media (max-width: 394px) {
  /* Style logo */
  .navbar {
    display: flex;
    margin: 0 auto;
    height: 64px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px;
    padding: 24px 16px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(40px);
  }
  .frame {
    display: flex;
    width: 160px;
    gap: 8px;
    justify-content: left;
  }

  .tech {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #fdfdfd;
  }

  /* Style nav links */
  .nav-links {
    display: none;
  }

  /* Style tombol Contact Us */
  .contact-us {
    display: none;
  }
  /* Icon hamburger */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fdfdfd;
    border-radius: 2px;
  }

  /* 2. hero section */
  .Hero {
    display: flex;
    margin: 0 auto;
    height: 720px;
    width: 100%;
    padding: 40px 20px;
    gap: 18px;
    background: linear-gradient(to bottom, #000000, #210a5e4d);
  }
  .hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0px 140px; */
    margin-top: 0;
  }
  .hero-text h1 {
    width: 100%;
    font-weight: 700;
    color: white;
    position: auto;
    font-size: 40px;
    line-height: 48px;
  }

  .hero-text p {
    width: 100%;
    height: auto;
    color: #717680;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
    letter-spacing: -0.03em;
    gap: 24px;
  }
  .talk {
    border: none;
    width: 100%;
    height: 48px;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 8px;
    background-color: #421abc;
    color: #ffffff; /* Warna teks putih */
    cursor: pointer;
  }
  .pict {
    left: 12px;
    bottom: 0;
  }
  .pict img {
    max-width: 308.84869384765625px;
    height: 400px;
  }
  /* 3. Who we are section */
  .who {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 16px;
  }
  .who-text h1 {
    /* justify-content: center; */
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
    color: #ffffff;
  }
  .who-text p {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    color: #717680;
  }
  /* 4. What we do section */
  .what {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 16px;
    gap: 24px;
  }
  .what-text h1 {
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    color: #fdfdfd;
  }
  .what-text p {
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 14px;
    letter-spacing: 0em;
    color: #717680;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .card {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    border: 1px solid #181d27;
    border-radius: 12px;
    padding: 16px;
    gap: 0;
    text-align: center;
  }
  .card h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 4px;
    margin-top: 20px;
    letter-spacing: 0;
    color: #fdfdfd;
  }
  .card p {
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
    letter-spacing: 0;
    color: #717680;
  }
  /* 5. Our work section */
  .our-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 24px;
  }
  .our-work-text h1 {
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    color: #fdfdfd;
  }
  .our-work-text p {
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 16px;
    letter-spacing: -0.03em;
    color: #717680;
  }
  .Portfolio-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .Portfolio-grid img {
    width: 100%;
  }
  /* 6. Meet the Team Section */
  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 64px;
  }
  .team-text h1 {
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    color: #fdfdfd;
  }
  .team-text p {
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 16px;
    letter-spacing: -0.03em;
    color: #717680;
  }

  .member-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 24px;
  }
  .member-container img {
    width: 155px;
    height: auto;
  }
  /* 7. Let’s Collaborate Section */
  .Collaborate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 64px;
  }
  .Collaborate-text h1 {
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    color: #fdfdfd;
  }
  .Collaborate-text p {
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 16px;
    letter-spacing: -0.03em;
    color: #717680;
  }
  /* form */
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .contact-form input,
  .contact-form textarea {
    background: #000000;
    border: 1px solid #252b37;
    border-radius: 12px;
    padding: 8px 16px;
    margin-bottom: 32px;
    outline: none;
    color: #fdfdfd;
    font-weight: 100;
    font-size: 14px;
  }
  .Send-btn {
    height: 44px;
  }

  /* 8. footer */
  footer {
    border-top: 1px solid #181d27;
    padding: 24px 8px;
    width: 100%;
    margin: 0 auto;
    gap: 8px;
  }
  footer p {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 12px;
    letter-spacing: -0.03em;
    color: #717680;
  }
}
